.body{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.left{
    flex:1;
    display: flex;
    position: relative;
    flex-direction: column;
}
.name{
    display: flex;
        flex-direction: column;
}
.name>:nth-child(1){
    color: rgb(234, 94, 94);
    font-weight: bold;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.name>:nth-child(2){
    color:#a7d5ed;
    font-weight: bold;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.name>:nth-child(3){
    color:#22a7f0;
    font-weight: 100;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


